:root {
  --textparagraph-1: rgba(0, 0, 0, 1);
  --textparagraph-2: rgba(87, 87, 87, 1);
  --accentaccent-14: rgba(244, 95, 0, 1);
  --accentaccent-10: rgba(182, 201, 207, 1);
  --accentaccent-15: rgba(255, 255, 255, 1);
  --strokestroke-1: rgba(0, 0, 0, 1);
  --accentaccent-11: rgba(198, 235, 247, 1);
  --accentaccent-5: rgba(30, 61, 89, 1);
  --accentaccent-6: rgba(72, 116, 158, 1);
  --accentaccent-7: rgba(222, 238, 254, 1);
  --accentaccent-8: rgba(232, 235, 239, 1);
  --accentaccent-4: rgba(4, 4, 4, 1);
  --accentaccent-9: rgba(163, 163, 163, 1);
  --accentaccent-12: rgba(229, 229, 229, 1);
  --accentaccent-3: rgba(242, 9, 9, 1);
  --dividersdividers-1: rgba(0, 0, 0, 0.1);
  --heading-1-font-family: "Rethink Sans", Helvetica;
  --heading-1-font-weight: 500;
  --heading-1-font-size: 60px;
  --heading-1-letter-spacing: -0.6px;
  --heading-1-line-height: 110.00000238418579%;
  --heading-1-font-style: normal;
  --paragraph-font-family: "Rethink Sans", Helvetica;
  --paragraph-font-weight: 500;
  --paragraph-font-size: 15px;
  --paragraph-letter-spacing: -0.15px;
  --paragraph-line-height: 120.00000476837158%;
  --paragraph-font-style: normal;
  --heading-2-font-family: "Rethink Sans", Helvetica;
  --heading-2-font-weight: 500;
  --heading-2-font-size: 30px;
  --heading-2-letter-spacing: -0.6px;
  --heading-2-line-height: 120.00000476837158%;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Rethink Sans", Helvetica;
  --heading-3-font-weight: 600;
  --heading-3-font-size: 22px;
  --heading-3-letter-spacing: -0.22px;
  --heading-3-line-height: 120.00000476837158%;
  --heading-3-font-style: normal;
  --paragraph-bold-font-family: "Rethink Sans", Helvetica;
  --paragraph-bold-font-weight: 700;
  --paragraph-bold-font-size: 15px;
  --paragraph-bold-letter-spacing: -0.15px;
  --paragraph-bold-line-height: 120.00000476837158%;
  --paragraph-bold-font-style: normal;
  --caption-2-font-family: "Rethink Sans", Helvetica;
  --caption-2-font-weight: 500;
  --caption-2-font-size: 13px;
  --caption-2-letter-spacing: -0.13px;
  --caption-2-line-height: 120.00000476837158%;
  --caption-2-font-style: normal;
  --links-font-family: "Rethink Sans", Helvetica;
  --links-font-weight: 500;
  --links-font-size: 15px;
  --links-letter-spacing: -0.3px;
  --links-line-height: 120.00000476837158%;
  --links-font-style: normal;
/* navigation */
  --backgroundbackground-1: rgba(255, 255, 255, 1);
  --textparagraph-1: rgba(0, 0, 0, 1);
  --textparagraph-2: rgba(87, 87, 87, 1);
  --dividersdividers-1: rgba(0, 0, 0, 0.1);
  --links-font-family: "Rethink Sans", Helvetica;
  --links-font-weight: 500;
  --links-font-size: 15px;
  --links-letter-spacing: -0.3px;
  --links-line-height: 120.00000476837158%;
  --links-font-style: normal;
  --display-font-family: "Rethink Sans", Helvetica;
  --display-font-weight: 500;
  --display-font-size: 10px;
  --display-letter-spacing: -0.2px;
  --display-line-height: 120.00000476837158%;
  --display-font-style: normal;
}
